<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="fairino3_v6_robot">
   <link name="world">
  </link>

  <joint
    name="world_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="world" />
    <child
      link="base_link" />
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00049027 -0.00045095 0.032527"
        rpy="0 0 0" />
      <mass
        value="0.78393" />
      <inertia
        ixx="0.0013854"
        ixy="1.1455E-05"
        ixz="-1.0642E-05"
        iyy="0.0013849"
        iyz="-9.7435E-06"
        izz="0.001977" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_description/meshes/fairino3_v6/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_description/meshes/fairino3_v6/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="shoulder_link">
    <inertial>
      <origin
        xyz="-3.8658E-07 -0.0024176 0.13519"
        rpy="0 0 0" />
      <mass
        value="2.1225" />
      <inertia
        ixx="0.0033227"
        ixy="-5.0648E-08"
        ixz="-6.3401E-09"
        iyy="0.0032419"
        iyz="4.3768E-05"
        izz="0.0023129" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_description/meshes/fairino3_v6/shoulder_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_description/meshes/fairino3_v6/shoulder_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="shoulder_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.0543"
      upper="3.0543"
      effort="150"
      velocity="3.15" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_lower_limit="-3.0543"
      soft_upper_limit="3.0543"
      k_position="15"
      k_velocity="10" />
  </joint>
  <link
    name="upperarm_link">
    <inertial>
      <origin
        xyz="-0.14111 3.4656E-06 0.11053"
        rpy="0 0 0" />
      <mass
        value="4.8053" />
      <inertia
        ixx="0.0075945"
        ixy="3.7143E-07"
        ixz="-7.9228E-12"
        iyy="0.0081317"
        iyz="-1.2918E-11"
        izz="0.0059231" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_description/meshes/fairino3_v6/upperarm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_description/meshes/fairino3_v6/upperarm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j2"
    type="revolute">
    <origin
      xyz="0 0 0.14"
      rpy="1.5708 0 0" />
    <parent
      link="shoulder_link" />
    <child
      link="upperarm_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4.6251"
      upper="1.4835"
      effort="150"
      velocity="3.15" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_lower_limit="-4.6251"
      soft_upper_limit="1.4835"
      k_position="15"
      k_velocity="10" />
  </joint>
  <link
    name="forearm_link">
    <inertial>
      <origin
        xyz="-0.18987 5.2268E-06 0.0034145"
        rpy="0 0 0" />
      <mass
        value="2.2312" />
      <inertia
        ixx="0.0028852"
        ixy="7.3389E-07"
        ixz="-3.5373E-05"
        iyy="0.0035145"
        iyz="-2.8527E-07"
        izz="0.0029186" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_description/meshes/fairino3_v6/forearm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_description/meshes/fairino3_v6/forearm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j3"
    type="revolute">
    <origin
      xyz="-0.28 0 0"
      rpy="0 0 0" />
    <parent
      link="upperarm_link" />
    <child
      link="forearm_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.8274"
      upper="2.8274"
      effort="150"
      velocity="3.15" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_lower_limit="-2.8274"
      soft_upper_limit="2.8274"
      k_position="15"
      k_velocity="10" />
  </joint>
  <link
    name="wrist1_link">
    <inertial>
      <origin
        xyz="4.5665E-07 -0.0034666 0.098292"
        rpy="0 0 0" />
      <mass
        value="1.5961" />
      <inertia
        ixx="0.0020112"
        ixy="6.8085E-09"
        ixz="2.4945E-08"
        iyy="0.0014524"
        iyz="3.2511E-05"
        izz="0.0019076" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_description/meshes/fairino3_v6/wrist1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_description/meshes/fairino3_v6/wrist1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j4"
    type="revolute">
    <origin
      xyz="-0.24001 0 0"
      rpy="0 0 0" />
    <parent
      link="forearm_link" />
    <child
      link="wrist1_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4.6251"
      upper="1.4835"
      effort="28"
      velocity="3.2" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_lower_limit="-4.6251"
      soft_upper_limit="1.4835"
      k_position="15"
      k_velocity="10" />
  </joint>
  <link
    name="wrist2_link">
    <inertial>
      <origin
        xyz="-4.5262E-07 0.0034666 0.098292"
        rpy="0 0 0" />
      <mass
        value="1.5961" />
      <inertia
        ixx="0.0020112"
        ixy="6.8086E-09"
        ixz="-2.4945E-08"
        iyy="0.0014524"
        iyz="-3.2511E-05"
        izz="0.0019076" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_description/meshes/fairino3_v6/wrist2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_description/meshes/fairino3_v6/wrist2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j5"
    type="revolute">
    <origin
      xyz="0 0 0.102"
      rpy="1.5708 0 0" />
    <parent
      link="wrist1_link" />
    <child
      link="wrist2_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.0543"
      upper="3.0543"
      effort="28"
      velocity="3.2" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_lower_limit="-3.0543"
      soft_upper_limit="3.0543"
      k_position="15"
      k_velocity="10" />
  </joint>
  <link
    name="wrist3_link">
    <inertial>
      <origin
        xyz="7.559E-05 1.3858E-05 0.076619"
        rpy="0 0 0" />
      <mass
        value="0.53877" />
      <inertia
        ixx="0.00028785"
        ixy="-2.0584E-09"
        ixz="-1.3892E-07"
        iyy="0.00028896"
        iyz="1.8115E-07"
        izz="0.00042655" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_description/meshes/fairino3_v6/wrist3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_description/meshes/fairino3_v6/wrist3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j6"
    type="revolute">
    <origin
      xyz="0 0 0.102"
      rpy="-1.5708 0 0" />
    <parent
      link="wrist2_link" />
    <child
      link="wrist3_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.0543"
      upper="3.0543"
      effort="28"
      velocity="3.2" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_lower_limit="-3.0543"
      soft_upper_limit="3.0543"
      k_position="15"
      k_velocity="10" />
  </joint>

  <link name="gripper_base">
    <visual>
      <geometry>
        <sphere radius="0.01"/>  <!-- Small sphere to visualize the frame -->
      </geometry>
      <material name="yellow">
        <color rgba="1.0 1.0 0.0 1.0"/>  <!-- Yellow to make it visible -->
      </material>
    </visual>
  </link>

  <joint name="grasp_frame_joint" type="fixed">
    <parent link="wrist3_link"/>
    <child link="gripper_base"/>
    <origin xyz="0 0 0.10" rpy="0 0 0"/>  <!-- Adjust Z-axis to be between the fingers -->
  </joint>

<!-- Triangular finger link -->
  <link name="triangle_base">
    <!-- Visual geometry -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <!-- Using a box to approximate the triangular prism
             Width = 0.06m (x-axis), Length = 0.1m (y-axis), Height = 0.06m (z-axis) -->
        <box size="0.115 0.165 0.12"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>

    <!-- Collision geometry -->
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <!-- Same dimensions as visual, but explicitly defined for collision -->
        <box size="0.115 0.165 0.12"/>
      </geometry>
    </collision>

  </link>


  <!-- Joint connecting to gripper_base -->
  <joint name="gripper_base_joint" type="fixed">
    <parent link="gripper_base"/>
    <child link="triangle_base"/>
    <origin xyz="0 0 0.061" rpy="0 0 1.57"/>
  </joint>


  <!-- Cylinder Adapter -->
  <link name="adapter_link">
    <visual>
      <geometry>
        <cylinder radius="0.023" length="0.035"/> <!-- Black cylinder -->
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <cylinder radius="0.023" length="0.035"/> <!-- Black cylinder -->
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </collision>
  </link>


  <!-- Joint between adapter and tool -->
  <joint name="adapter_to_tool" type="fixed">
    <parent link="triangle_base"/>
    <child link="adapter_link"/>
    <origin xyz="0 0 0.0775" rpy="0 0 0"/> <!-- Align tool_frame at the top of the cylinder -->
  </joint>
 

</robot>
