<?xml version="1.0"?>
<robot name="box_triangle_box">
    
    <!-- Bottom Box -->
    <link name="base">
    </link>
    <!-- Bottom Box -->
<link name="triangle">
    <!-- Visual Representation -->
    <visual>
        <geometry>
            <box size="0.6 0.5 0.2"/>
        </geometry>
        <material name="blue">
            <color rgba="0.0 0.0 1.0 1.0"/>
        </material>
    </visual>

    <!-- Collision Representation -->
    <collision>
        <geometry>
            <box size="0.6 0.5 0.2"/>
        </geometry>
    </collision>
</link>

    
    <!-- Joints -->
    <joint name="base_to_triangle" type="fixed">
        <parent link="base"/>
        <child link="triangle"/>
        <origin xyz="0 0 0.1"/>
    </joint>
    

    
</robot>
